/***************************************************************
 *  Title slide
 ***************************************************************/
.remark-slides-area .remark-slide-container:first-child .remark-slide-content {
    background-color: white;
    padding: 12rem 4rem 0;
}
.remark-slides-area .remark-slide-container:first-child .remark-slide-content h4 {
    margin-bottom: 0;
}
.remark-slides-area .remark-slide-container:first-child .remark-slide-number {
    display: none;
}

/***************************************************************
 *  normal slide
 ***************************************************************/
.remark-slides-area .remark-slide-container:nth-child(1n+2) .remark-slide-content {
    background-color: white;
    padding: 5rem 4rem 0;

}
.remark-slides-area .remark-slide-container:nth-child(1n+2) .remark-slide-content > *:not(h1):not(.remark-slide-number){
    font-size: 2rem;
}
.remark-slides-area .remark-slide-container:nth-child(1n+2) .remark-slide-content h1{
    font-size: 3rem;
}

.remark-slide-container:nth-child(1n) .remark-slide-content {
    background-image: url('../img/logo.svg');
    background-position: 99% 2%;
    background-size: 20%;
}

/***************************************************************
 *  General styling
 ***************************************************************/

body {
    font-family: 'Liberation Sans', arial, helvetica, sans-serif;
}

h1 {
    color: #1794D1;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}

a {
    color: #1794D1;
    text-decoration: none;
}

li {
    padding-bottom: 0.5rem;
}

/***************************************************************
 *  Code example styling
 ***************************************************************/

table {
    border-collapse: collapse;
}

th, td {
    padding: 0.3rem;
    border: 1px solid black;
}

table tr {
    font-size: 1.5rem;
}

.remark-code {
    width: 81%;
}

/***************************************************************
 *  Print slides in 4:3 format
 ***************************************************************/
@page {
    size: 908px 681px;.
    margin: 0;
}

@media print {
    .remark-slide-scaler {
         width: 100% !important;
         height: 100% !important;
         transform: scale(1) !important;
         top: 0 !important;
         left: 0 !important;
    }
}

.blue {
    color: #1794D1;
}

.gray {
	color: #4d4d4d;
}

.small {
	font-size: 75%;
}
